/*============================================
        DEFAULT VALUES:
        
        FONT FAMILY         :Roboto Condensed
       
        Ripple             :#DAECF3 ()
        Crush              :#E85124 (Buttons, Icons, Links, Lines & Backgrounds)
        SeaFloor           :#1AA6B7 ()
        Steel Gray         :#41464b (Headings)
        Cyprus             :#022D41 (Paragraph)
        White              :#fff    (Text with background)
        Black              :#000    ()
=============================================*/
/* GENERAL CSS*/
html, body{
    height: 100%;
}

body{
    
    font-family: "Roboto Condensed","sans-serif";
    background-color: #c6c6c6;
}

p{
    color: #41464b;
    font-size: 16px;
    font-weight: 300;
}

h3{
    text-transform: uppercase; 
    color: #41464b;
}
/*============================================
                    HOME
=============================================*/
#home {
    height: 70%; 
 
}

#content{
    margin: 0;
}


#home-cover {
height: 100%;

}




/*#home-content-box-inner{
    display: table-cell;
    vertical-align: middle; 
    text-align: center;  
	
}*/


#home-heading h3{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20 0;
	font-family: 'Merienda One', cursive;
}
/*============================================
                    PARALLAX(Generic)
=============================================*/
.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*Parallax effect*/
}


/*============================================
                    BUTTONS(Generic)
=============================================*/
.btn-general {
   
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.btn-white {
    
    border-color: #fff;
    color: #fff;
    
}

.btn-white:hover, .btn-white:focus{
    background-color: #fff;
    color: #41464b ;
}



.btn-red {
    
    border-color: red;
    color: red;
    
}

.btn-red:hover, 
.btn-red:focus{
    background-color: #e40000;
    color: #fff ;
}

.btn-back-to-top{
	
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 22px;
	padding: 3px 15px;
	border-radius: 0;
	display: none;
	
	
	
}

/*============================================
                    ANIMATE
=============================================*/
#home-cover, #home-heading, #home-btn{
    animation-duration: .5s;
}

#home-cover{
    animation-delay: .1s;
    
}

#home-heading{
    animation-delay: .5s;
    
}

#home-btn{
    animation-delay: 1s;
    
}

/*============================================
                    CONTENT(Generic)
=============================================*/
#service{
    
    margin-top: 150px;
    
    
}
.content-box{
    
    padding: 30px 0 30px 0;
    background-color: #fff;
}

.content-title h3{
    
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
    
}

.content-title-underline{
    
    width: 30px;
    height: 3px;
    background-color: red;
    margin: 0 auto 30px auto
}

/*============================================
                   SOCIAL ICON
=============================================*/


.social-list{
	padding-left: 0;
	
}

.social-list li{
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}

.social-icon i {
	font-size: 17px;
	
	
}


.icon-gray i {
	color: #41464b;
	
}

.icon-white i {
	color: #fff;
}

.icon-white i:hover {
	color: green;
}

.icon-gray i:hover{
	color: green;
}

/*============================================
                    FOOTER 1 CONTACT
=============================================*/
footer{
	
	background-color: #fb4545;
	padding-top: 1px;
    padding-bottom: 1px;
	border-top: 5px solid rgba(0,0,0, 0.1);
	
	
}


#contact-left h3, #contact-right h3{
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	
	
	
}


#contact-left p {
	color: #fff;
	margin-bottom: 30px;
	
	
	
}


#contact-info {
	
}

address{
	color: #fff;
	
	
}


address strong, #phone-email strong{
	letter-spacing: 1px;
	
	
}

form .form-control {
	background: transparent;
	
	border-radius: 0;
	
	border-color: #fff;
	
	font-size: 17px;
	
	font-weight: 300;
	
	padding: 8px 16px;
	
	margin-bottom: 20px;
	
	color: #fff;
}

/*============================================
                    FOOTER 2
=============================================*/

#footer-bottom{
	background-color: #eb2b2b;
	padding: 10px 0;
	margin-top: 60px;
	
	
}

#footer-copyrights p {
	margin: 0;
	color: #fff;
	
}


#footer-menu{
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	
	
}


#footer-menu ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	
}

#footer-menu ul li{
	display: inline-block;
	
}

#footer-menu a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	text-decoration: none;
}

#footer-menu a:hover{
	color: #E85124 ;
}


/*============================================
                   NAVIGATION 1
=============================================*/

/*[ Top bar ]
===========================================================*/
.topbar {
  height: 45px;
  background-color: #fb4545;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ */
.topbar{
	padding: 20px 0;
	transition:  .5s ease-in;
}
.topbar-social {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-left: 40px;
   
}

.topbar-social i {
	margin-right: 15px;
	color: #fff;
}

.topbar-social i:hover {
	margin-right: 15px;
	color: green;
}


/* ------------------------------------ */
.topbar-child1 {
  font-family: "Roboto Condensed","sans-serif";
  font-size: 15px;
  color: #fff;
  line-height: 1.7;

}


/* ------------------------------------ */
.topbar-child2 {
  position: absolute;
  height: 100%;
  top: 5px;
  right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  padding-right: 38px;
}

.topbar-account li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 15px;
	
}

.topbar-account > li > a{
	
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	
}

.topbar-account > li > a:hover, .navbar-nav > li > a:focus{
	
	background-color: green;
	text-decoration: none;
	
}

/*[ Header Desktop ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.container-menu-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1100;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2); 
}





/*============================================
                   NAVIGATION 2
=============================================*/
.navbar{
	padding: 20px 0;
	transition: all .3s ease-in-out;
    height: 85px;
    
	
}

.navbar-margin{
	margin-top: 45px;
	
}

.navbar-brand{
	padding: 0;
}

.navbar-brand img{
    margin: 0;
	padding: 0;
    height: auto;
    width: auto;
}

.vesco-top-nav {
	
	background-color: rgba(255,255,255,0.8);
	padding: 7px 0;
    
}
.vesco-top-nav-white{
    
    background-color: #fff;
    height: 100px;
    
} 


.vesco-nav-wrapper{
	padding: 0 85px;
	
	
}

.navbar-nav{
	float: right;
}

.navbar-nav > li > a{
	
	color: red;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
    
	
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	
    background-color: transparent;
    border-bottom: 1px solid  red;
    
	
}


.navbar-toggle{
	background-color: rgba(0,0,0,0.1);
	border: 1px solid #fff;
	border-radius: 0;
	
	
}

.icon-bar{
	
	background-color: #fff;
}


.navbar-collapse {
	max-height: none ! important;
			
}



.vesco-top-nav ul.navbar-nav > li.active > a{
	
	
}



/*============================================
                    HEADER
=============================================*/
.header1{   
    height: 80px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.fixed-header {height: 110px;}

.container-menu-header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1100;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
      -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
      -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2); 

}

.wrap_header{
    
    
}


/*============================================
                    FOOTER 1 CONTACT
=============================================*/
footer{
	
	background-color: #fb4545;
	padding-top: 1px;
    padding-bottom: 1px;
	border-top: 5px solid rgba(0,0,0, 0.1);
	
	
}


#contact-left h3, #contact-right h3{
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	
	
	
}


#contact-left p {
	color: #fff;
	margin-bottom: 30px;
	
	
	
}


#contact-info {
	
}

address{
	color: #fff;
	
	
}


address strong, #phone-email strong{
	letter-spacing: 1px;
	
	
}

form .form-control {
	background: transparent;
	
	border-radius: 0;
	
	border-color: #fff;
	
	font-size: 17px;
	
	font-weight: 300;
	
	padding: 8px 16px;
	
	margin-bottom: 20px;
	
	color: #fff;
}

/*============================================
                    FOOTER 2
=============================================*/

#footer-bottom{
	background-color: #eb2b2b;
	padding: 10px 0;
	margin-top: 60px;
	
	
}

#footer-copyrights p {
	margin: 0;
	color: #fff;
	
}


#footer-menu{
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	
	
}


#footer-menu ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	
}

#footer-menu ul li{
	display: inline-block;
	
}

#footer-menu a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	text-decoration: none;
}

#footer-menu a:hover{
	color: #E85124 ;
}


