.form-design{
    background-color: red;
}

/******icon Bar in home admin*******/
.icon-container{
    margin: 5px;
}


.icon-bar .icon{
    float: left;
    text-align: center;
}

/*******    HTML TABLE AUTO INCREMENT ************/
#ttable {
    counter-reset: tableCount;   
   
    
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}